<!DOCTYPE html>
<html>
	<head>
    	<title>index</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<form action="" method="post">
			<input type="email" placeholder="Email" name="email" value="{{request.form.email}}">
			<input type="password" placeholder="Password" name="password" value="{{request.form.password}}">
			<input class="btn btn-default" type="submit" value="Login">
		</form>
		<a href="./register/">Register</a>
		{% if error %}
		<p><strong>Error: </strong>{{ error }}</p>
		{% endif %}
	</body>
</html>
